html,
body,
#app,
#app > div,
#root {
  height: 100%;
}

.App {
  height: 100%;
}

.prompt-entry {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 1fr 6fr;
}

.prompt-container {
  background-color: #9a86a4;
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding: 20px;
}

.prompt {
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: #ffffff;
}

.date {
  font-style: normal;
  opacity: 40%;
  font-size: 16px;
}

.entry {
  padding: 0px 10px;
}

.editor {
  padding: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
}

.wrapper {
  height: 100%;
}

.button {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 5px;
  gap: 7px;

  color: white;
}
