html,
body,
#app,
#app > div,
#root {
  height: 100%;
}

.App {
  height: 100%;
}

.prompt-entry {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 2fr 5fr;
}

.prompt {
  background-color: #9a86a4;
}

.entry {
  padding: 0px 10px;
}

.editor {
  padding: 10px;
}

.wrapper {
  height: 100%;
}
